/* ----- HOME ----- */
.superbox {
    text-align: center;
    position: fixed;
    width: 100%;
}
.superbox h1 {
    text-shadow: 0.03em 0.03em 0.1em rgba(0,0,0,0.5);
    margin-top: 0.25em;
}

/* Amazing search box */
#supersearch {
    background-image: url('http://png-4.findicons.com/files/icons/1389/g5_system/32/toolbar_find.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(248,248,248);
    width: 1.6em;
    padding-left: 0.5em;
    margin-top: 1em;
    border-radius: 1em;
    border: none;
    font-size: 2em;
    color: rgba(0,0,0,0);
    transition-duration: 0.5s;
    box-shadow: 0em 0.025em 0.1em rgba(0,0,0,0.5);
}
#supersearch:hover, #supersearch:focus {
    background: white;
    width: 50%;
    color: black;
    box-shadow: 0em 0em 0.5em white;
    outline: none;
}